<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>debug</title>
</head>
<body>

    <div id="app" class="container">

        <!-- aside -->
        <aside class="fl-left w-30">

            <!-- header -->
            <header class="d-flex al-ctr">

                <div class="container-inner jus-bet ">

                    <div class="header-left d-flex al-ctr g-10">
                        <div class="header-img">
                            <img src="img/avatar_io.jpg" alt="io-logo">
                        </div>
    
                        <div class="header-txt">
                            <p>Nome utente</p>
                        </div>
                    </div>

                    <div class="header-right d-flex al-ctr g-10">
                        <i class="fas fa-circle-notch cl-b0"></i>
                        <i class="fas fa-comment-alt cl-b0"></i>
                        <i class="fas fa-ellipsis-v cl-b0"></i>
                    </div>
                    
                </div>

            </header>

            <!-- main -->
            <main>

                <!-- section notification -->
                <section id="notification" class="d-flex al-ctr">
                    <div class="container-inner jus-bet g-10">
                        <div class="bell d-flex al-ctr jus-ctr">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="bell-txt">
                            <p class="fs-little">Ricevi le notifiche di nuovi messaggi</p>
                            <a href="#" class="cl-b0 fs-little">Attiva le notifiche</a>
                        </div>
                    </div>
                </section>

                <!-- section search -->
                <section id="search" class="d-flex al-ctr">
                    <div class="container-inner">

                        <i class="fa-solid fa-magnifying-glass  cl-b0"></i>
                        <input type="text" placeholder="Cerca o inizia conversazione" class="fs-tiny">

                    </div>
                </section>

                <!-- section chat-list -->
                <section id="chat-list" >

                    <ul>

                        <li class="d-flex al-ctr" v-for="(contact, index) in contacts">

                            <div class="container-inner clearfix">

                                <div class="list-left d-flex  g-10 fl-left w-70">
                                    <div class="header-img">
                                        <img :src=" 'img/avatar' + contact.avatar  + '.jpg' " alt="avatar-logo">
                                    </div>
                
                                    <div class="header-txt">
                                        <p class="fs-little">{{contact.name}}</p>
                                        <p class="cl-b0 fs-little">{{contact.messages[contact.messages.length -1] .text.slice(0,12) + '...'}}</p>                            
                                    </div>
                                </div>
            
                                <div class="list-right d-flex al-ctr g-20 w-30 fl-right">
                                    <p class="fs-tiny cl-b0">{{contact.messages[contact.messages.length -1].date}}</p>
                                </div>

                            </div>


                        </li>

                    </ul>

                </section>




            </main>

        </aside>

        <!-- article -->
        <article class="fl-left w-70" v-for="contact in contacts">

            <!-- header -->
            
            <header class="d-flex al-ctr" >
            
                <div class="container-inner jus-bet ">

                    <div class="header-left d-flex al-ctr g-10">
                        <div class="header-img">
                            <img src="img/avatar_1.jpg" alt="avatar-logo">
                        </div>
    
                        <div class="header-txt" v-if="contact.visible">
                            <p>{{contact.name}}</p>
                            <p class="cl-b0 fs-little">Ultimo accesso oggi {{contact.messages[contact.messages.length -1].date.slice(0,11)}}</p>
                            <p class="cl-b0 fs-little">{{contact.messages[contact.messages.length -1].date.slice(11)}}</p>
                        </div>
                    </div>

                    <div class="header-right d-flex al-ctr g-20">
                        <i class="fas fa-circle-notch cl-b0"></i>
                        <i class="fas fa-comment-alt cl-b0"></i>
                        <i class="fas fa-ellipsis-v cl-b0"></i>
                    </div>
                    
                </div>

            </header>

            <!-- article main -->
            <main>

                <!-- article sezione chat -->
                <section id="chat">

                    <div class="row-chat jus-end">
                        <div class="msg usr fs-little">
                            <p>Porta fuori il cane <i class="fas fa-chevron-down"></i></p>
                            <p class="fs-tiny txt-right">10/01/2020 16:34:54</p>
                        </div>
                        
                    </div>

                    <div class="row-chat">
                        <div class="msg fs-little">
                            <p>Porta fuori il cane <i class="fas fa-chevron-down"></i></p>
                            <p class="fs-tiny txt-right">10/01/2020 16:34:54</p>
                        </div>
                        
                    </div>
                </section>

                <!-- article sezione send msg -->
                <section id="send-msg" class="d-flex jus-ar al-ctr">
                    <i class="fa-solid fa-face-grin  fs-big"></i>
                    <input type="text" placeholder="Inserisci il tuo testo">
                    <i class="fa-solid fa-microphone  fs-big"></i>
                </section>

            </main>


        </article>



    </div>

    <!-- JS & Vue Script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>